body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.delete-emoji {
  cursor: pointer;
}

.link-custom {
  padding: 0.2rem;
  display: block;
  text-decoration: none;
  color: #DDD;
  transition: 0.3ms color;
}

.link-custom:hover {
  color: #FFF
}

.btn {
  padding: 0;
}